.dropped {
  .container {
    box-shadow: none;

    .math-sign, .num-sign {
      &:hover {
        outline: 2px solid rgba(93, 95, 239, 1);
      }
    }

  }
}


.container {
  width: 240px;
  margin: 6px 0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 6%), 0 4px 6px rgb(0 0 0 / 10%);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}
.field{
  width: 232px;
  height: 52px;
  margin: 4px;
  border-radius: 6px;
  background-color: #F3F4F6;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  padding-right: 4px;
  overflow: hidden;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.math-sign {
  width: 52px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  background-color: #FFFFFF;
  border: 1px solid #E2E3E5;
  border-radius: 6px;
}
.num-sign {
  width: 72px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  background-color: #FFFFFF;
  border: 1px solid #E2E3E5;
  border-radius: 6px;

  &.big__num {
    width: 152px;
  }
}
.equal-sign {
  width: 232px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#FFFFFF;
  background-color: #5D5FEF;
  border: 0;
  border-radius: 6px;
  margin: 4px;
  padding: 24px 111px;
}
.buttons {
  border-radius: 6px;
  background: #F3F4F6;
  display: flex;
  overflow: hidden;
  width: 243px;
  position: absolute;
  top: 38px;

  button {
    padding: 8px 12px;
    color: #4D5562;
    border: 0;
    background: #F3F4F6;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    &.active {
      svg {
        path {
          stroke: #5D5FEF;
        }
      }
    }

    span {
      margin-left: 3px;
    }

    svg {
      width: 20px;
      height: 20px;

      path {
        stroke:#4D5562;
      }
    }
  }
}

.buttons button.active {
  background: #FFFFFF;
  border: 1px solid #E2E3E5;
  border-radius: 5px;
}
