.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: lightgrey;
  user-select: none;
}
.board {
  padding: 2rem;
  background-color: #FFFFFF;
  min-width: 250px;
  padding-top: 100px;
  position: relative;
}
.dropped {
  background: #FFFFFF;
  border: none;
  border-radius: 6px;
  width: 243px;
  height: 448px;
}
.filled {
  background: #FFFFFF;
  border: 2px dashed #C4C4C4;
  position: relative;

  &::after{
    content: url("../public/Frame.svg");
    position: absolute;
    top: 182px;
    left: 58px;
  }
}

.line {
  position: relative;
  &::after {
    content: url("../public/line.svg");
    color: red;
    background-image: url("../public/line.svg");
    position: absolute;
    width: 244px;
    height: 1px;
    bottom: 7px;
    left: -4px;
  }
}

